.card{
    display: flex;
  flex-wrap: wrap;
  gap: 5vh;
  
  justify-content: space-around;
 
  margin: 10px;
  display: inline-block;
  
}


.media{
    object-fit: contain;
    
}
.cart{
  background-color: #abb747 !important;
  color: white !important;
  padding: 10px !important;
  margin-left: 130px !important;
  
}
